<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>TFG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/tfg.css">

</head>

<body>

    <div th:if="${param.error}">
        Email o contraseña incorrectas.
    </div>
    <div th:if="${param.logout}">
        Se ha cerrado la sesión.
    </div>

    <div class="container">
        <h1 class="title">App de motivación al estudiante</h1>
        <form class="login-form" th:action="@{/login}" method="post">
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Email address" required>
              </div>

            <div class="form-floating mb-4">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required> <br>
                <input name="checkbox" type="checkbox" onclick="showPass()"> Mostrar Contraseña
                <script>
                    function showPass() {
                        var check = document.getElementById("password");
                        if (check.type === "password") {
                            check.type = "text";
                        } else {
                            check.type = "password";
                        }
                    }
                </script>

            </div>
            <div class="d-grid mb-4">
                <button class="btn btn-primary btn-login text-uppercase fw-bold custom-btn w-100" type="submit">Iniciar sesión</button>
              </div>
        </form>
    </div>
</body>

</html>