<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuestionario</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/tfg.css" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script th:inline="javascript">
      var preguntas = /*[[${preguntas_json}]]*/ "";
      preguntas = JSON.parse(preguntas, this);
      var quiz = /*[[${quiz_json}]]*/ "";
      quiz = JSON.parse(quiz, this);
    </script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load("current", { packages: ["corechart"] });

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn("string", " ");
        data.addColumn("number", " ");
        data.addRow(["Quiz", quiz["calificacion"]]);
        data.addRow(["Media de estudiantes", quiz["media"]]);

        var data_preg = new google.visualization.DataTable();
        data_preg.addColumn("string", "Pregunta");
        data_preg.addColumn("number", "Media");
        data_preg.addColumn("number", "Nota");

        for (var i = 0; i < preguntas.length; i++) {
          data_preg.addRow([
            preguntas[i]["name"],
            preguntas[i]["media_preg"],
            preguntas[i]["nota"],
          ]);
        }

        // Set chart options
        var options_quiz = {
          title: "Quiz",
          width: 400,
          height: 300,
        };

        var options_preg = {
          title: "Preguntas",
          width: 600,
          height: 400,
          colors: ["#0F6360", "#F1C233"],
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(
          document.getElementById("nota-quiz")
        );
        var chart_ = new google.visualization.BarChart(
          document.getElementById("nota-preg")
        );
        chart.draw(data, options_quiz);
        chart_.draw(data_preg, options_preg);
      }
    </script>
  </head>

  <body>
    <div class="header">
      <nav>
        <ul class="barra_nav">
          <li class="element_barra_nav" id="barra_nav_user">
            <a th:href="@{/}"
              ><span th:text="${student.getName()}">Nombre</span>
              <span th:text="${student.getSurnames()}">Apellidos</span></a
            >
          </li>
          <li class="element_barra_nav" id="barra_nav_home">
            <a class="login_title" id="title_barra_nav" th:href="@{/logout}">
              <button class="custom-btn text-uppercase fw-bold">
                Cerrar Sesión
              </button>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="cuerpo mt-10">
      <h1 th:if="${quiz.getCalificacion() >= 5}">
        Sacaste un
        <span
          class="notaQuiz"
          th:if="${quiz.getCalificacion() >= 5}"
          th:text="${quiz.getCalificacion()}"
          style="color: #2f6443"
          >6</span
        >
        en el test!
      </h1>
      <h1 th:if="${5 > quiz.getCalificacion()}">
        Sacaste un
        <span
          class="notaQuiz"
          th:text="${quiz.getCalificacion()}"
          style="color: #f24236"
          >3</span
        >
        en el test
      </h1>
      <h3>
        De media has estado <span th:text="${min}">2</span> minutos y
        <span th:text="${min}">2</span> segundos por pregunta
      </h3>
    </div>
    <div id="nota-quiz"></div>
    <div id="nota-preg"></div>

    <div class="eficacia mt-2">
        <div class="d-inline-flex">
           <h4>
        ¿Quieres calcular tu <strong>eficiencia</strong> y
        <strong>eficacia</strong> de este examen?
      </h4>
      <button id="show-ef-btn" class="custom-btn" onclick="showEficacia()">Calcular</button>
      <script>
        function showEficacia() {
          var div_ef = document.getElementById("mostrar-ef");
          var ef_btn = document.getElementById("show-ef-btn");
          if (div_ef.style.display === "none") {
            div_ef.style.display = "block";
            ef_btn.innerHTML = "No calcular";
          } else {
            div_ef.style.display = "none";
            ef_btn.innerHTML = "Calcular";
          }
        }
      </script> 
        </div>
      
      <div class="mostrar-ef" id="mostrar-ef">
        <p>Empecemos por definir la <strong>eficacia</strong>. La eficacia se refiere a la capacidad de lograr objetivos,
             su prioridad es ver el resultado final, en este caso la calificacion obtenida, no cómo se obtuvo.</p>
        <br>
        <p>El calculo general de la eficacia se determina por: <strong>(Resultado real x 100) ÷ Resultado planeado = % de eficacia.</strong>
        Por lo que en este caso tendrás que introducir la calificación que esperabas haber obtenido en el examen.
        <i>¡Ten en cuenta que al meter el valor a mano tienes que ser honesto con tu respuesta!</i></p>

        <script>
            var calif;
            var res;
            function validate(){
                calif = document.forms["calc-efi"]["calif"].value;
                console.log(calif)

                if(calif == 0){
                    res = "Un 0 no puede ser la nota a la que aspirabas, ¡se un poco más ambicioso!"
                } else {
                    var calc = ((quiz["calificacion"])/calif)*100;
                    document.getElementById("res-efi").style.display = "block";
                    document.getElementById("res-calif").innerHTML = calif;
                    document.getElementById("res-efi-numb").innerHTML = calc;

                }
            }
        </script>
        <form name="calc-efi" action="javascript:validate();">
            Introduce la calificación que esperabas: <input type="text" name="calif" id="calif" required>
            <input type="submit" value="Calcular">
        </form>

        <br>
        <p style="display: none;" id="res-efi">La eficacia para este examen es: <span>&#40;</span> 
            <span th:text="${quiz.getCalificacion()}">8</span>*100
            <span>&#41;</span> / <span id="res-calif"></span> = <span id="res-efi-numb">7</span> %</p>
      </div>
      
    </div>
  </body>
</html>
