/*https://colors.dopely.top/palettes/QswJFH8FRA7*/
/*https://colors.dopely.top/palettes/TKfaJCIrB4Q*/

/*
#34724c
#2F6443
#71B27E
#DFF8CA
#FFA630
#2E5077
#f24236
*/

html{
    font-family: Lato sans-serif;
}

body {
    background-color: #DFF8CA;
}

.container{
    margin-top: 8rem;
}

.title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.login-form {
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    z-index: 100;
    background-color: #71B27E;
    position: fixed;
    top: 0;
    width: 100%;
}

.barra_nav {
    padding-top: 0.7rem;
    list-style: none;
    width: inherit;
    overflow: hidden;
    text-align: center;
    height: fit-content;
}

nav {
    width: inherit;
    float: left;
}

.barra_nav li {
    float: left;

}

#barra_nav_user {
    font-size: 24px;
    padding-left: 20%;
    font-weight: 700;
    margin-left: 17%;
}

#barra_nav_user a{
    color: black;
}
#barra_nav_user a:hover{
    color: #2F6443;
    text-decoration: none;
}

#barra_nav_home {
    padding-inline-start: 15%;
    margin-left: 15%;
}

.custom-btn{
    background-color: #2F6443;
    color: white;
    border: none;
    border-radius: 7px;
}
.custom-btn:hover{
    background-color: #34724c;
    color: white;
}

.cuerpo{
    margin-top: 8rem;
}

#nota-quiz {
    padding-top: 5%;
    padding-left: 7%;
}
#nota-preg {
    padding-top: 5%;
    padding-left: 7%;
}

#estadisticas {
    display: none;
}


/* SOLUCIONES POR ANCHO PANTALLA*/

@media screen and (max-width: 1150px){
    #barra_nav_home{
        padding-inline-start: 0%;
        margin-left: 25%;
    }
}
